@use 'variables' as *;

// Typography //

@mixin font ($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

//Display flex//

@mixin flex($justify-content, $align-items: normal, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
  }

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin card {
    background: linear-gradient(156.68deg, #5B5764 13%, $print 40.84%);
    box-shadow: $drop-shadow;
    border-radius: 5px;
}

//Mixins responsive design//

@mixin tablet {
    @media (min-width: $tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-size) {
        @content;
    }
}