@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Medium.ttf") format("truetype"),
    url("../../assets/fonts/Raleway-Medium.woff2") format("woff2");
    font-weight: medium;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("../../assets/fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: semi-bold;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: bold;
}

.page-header {
    @include font (3rem, 700); 
    color: $peach;
}

.section-header {
    @include font (0.75rem, 700);
}

.subheader {
        @include font (1.25rem, 700);
}

.body-large {
    @include font (1rem, 400);
}

.body-small {
    @include font (0.9rem, 400);
}

.label {
    @include font (0.8rem, 700);
}

