@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Regular.ttf") format("trutype"),
    url("../../assets/fonts/Raleway-Regular.woff2") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("../../assets/fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype"),
    url("../../assets/fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.page-header {
    @include font (3rem, 700); 
    color: $peach;
}

.section-header {
    @include font (2rem, 700);
}

.subheader {
        @include font (1.25rem, 600);
}

.nav-links {
    @include font (1rem, 600);
}

.body-large {
    @include font (1rem, 300);
}

.body-small {
    @include font (0.9rem, 300);
}

.label {
    @include font (0.8rem, 700);
}

