// Color Palette //

//Primary//

$carbon: #000000;
$coal: #3B3742;
$print: #4C4855;
$white: #FFF;

//Secondary//

$peach: #FD8263;
$peach-shadow: #E05D3C;

//Accent//

$error: #E84E4F;

//Screen size//

$tablet-size: 768px;
$desktop-size: 1280px;

//Styling variables//
$drop-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
$background-gradient: linear-gradient(68.75deg, #000000 2.51%, #3B3742 34.66%, #413C4A 65.83%, #2F2246 97.49%);