@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.modal {
    position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        @include size (100%, 100%);
        background-color: rgba(59, 55, 66, 0.9);
        &__card {
            position: fixed;
            z-index: 15;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include size(36.5rem, 22.25rem);
            padding: 6rem;
            @include flex (space-between, center, column);
            text-align: center;
            @include card;
        }
        &__button {
            margin-top: 1.5rem;
        }
        &__button-container {
            @include flex (space-between);
            gap: 2rem;
        }
}