@use "../../styles//partials//mixins" as *;
@use "../../styles//partials/variables" as *;


.artist-dashboard {
    padding: 0 8rem;
    &__title-container {
        @include flex (space-between, center);
        width: 100%;
        margin: 0.5rem
    }
    &__title{
        margin: 0.5rem 0;
        color: $peach;
    }
    &__avatar-container {
        @include size (4.5rem, 4.5rem);
        border-radius: 50%;
        overflow: hidden;
        margin: 0.5rem 1rem;
    }
    &__avatar {
        object-fit: cover;
    }
    &__dashboard-wrapper {
        @include flex (space-between);
        height: 100%;
    }
    &__main-calendar {
        @include card;
        padding: 0 2.5rem;
        width: 68%;
        margin-bottom: 2rem;
    }
    &__weekdays,
    &__dates {
        @include flex (space-between);
        width: 100%;
    }
    &__weekday,
    &__date {
        width: 6rem;
        text-align: center;
        margin: 0.25rem 0;
    }
    &__weekday {
        color: $peach;
    }
    &__side-divs {
        @include flex (space-between, normal, column);
        height: 100%;
        gap: 2rem;
    }
    &__small-calendar {
        @include card;
        padding: 0.5rem;
    }
    &__next-client {
        @include card;
        padding: 1rem 2rem;
        outline: 2px solid $peach;
    }
    &__subheader {
        margin: 0.5rem 0;
        color: $peach;
    }
    &__app {
        @include flex (space-between);
    }
    &__date,
    &__time {
        margin: 0.25rem 0;
    }
    &__client-name {
        text-align: end;
    }
    &__icon {
        height: 1rem;
    }
    &__detail-container {
        @include flex (flex-end, center);
        gap: 1rem;
    }
}