@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.user-dashboard {
    padding: 0 8rem;
    &__header {
        margin: 2rem 0;
        color: $peach;
    }
    &__dashboard {
        @include flex (space-between);
        gap: 2rem;
    }
    &__pop-up {
        padding: 0.5rem 2rem;
        margin: 0;
        width: 100%;
        @include card;
    }
    &__appointment {
        @include flex (space-between, flex-start, column);
        gap: 2rem;
        width: 50%;
    }
    &__appointment-details {
        padding: 2rem;
        @include card;
        width: 100%;
        height: 80%;
    }
    &__appointment-info {
        @include flex (space-between, center);
    }
    &__info {
        width: 100%;
    }
    &__table-headers {
        @include flex (space-between);
        width: 100%;
        gap: 0.75rem;
    }
    &__label {
        width: 7.5rem;
        font-weight: 700;
    }
    &__details-container {
        @include flex (space-between);
    }
    &__artist {
        @include flex (flex-start, flex-end, column);
        gap: 1rem;
    }
    
    &__action {
        @include flex (flex-end);
        gap: 1rem;
        &:link,
        &:visited {
            color: $white;
            text-decoration: none;
        }
    }
    &__subtitle {
        margin-top: 0.5rem;
    }
    &__profile {
        padding: 2rem 4rem;
        @include card;
        width: 45%;
        @include flex (space-between, flex-start, column)
    }
    &__profile-img {
        align-self: flex-end;
        height: 4rem;
        margin-top: 1rem;
    }
    &__profile-info {
        width: 100%;
        padding-bottom: 2rem;
    }
    &__contact {
        padding: 1rem 4rem;
        margin-top: 2rem;
        @include card;
        width: 100%;
        @include flex (space-between, center);
    }
    &__contact-subtitle {
        margin: 0;
        align-self: center;
    }
    &__text-book {
        color: $peach;
    }
    &__no-appointments {
        text-align: center;
    }
       
    &__action-book {
        @include flex (center, center, column);
        &:link,
        &:visited {
            text-decoration: none;
        }
    }
}

.date {
    width: 10rem;
    padding-left: 1rem;
}

.edit {
    align-self: flex-end;
    margin-top: 1rem;
}


//to be removed//
.hidden {
    display: none;
}