@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
    padding: 4rem 8rem;
    &__copy {
        width: 40%;
    }
    &__title {
        color: $peach;
    }
    &__body-copy {
        font-weight: 300;
        line-height: 1.5rem;
    }
    &__hero-image {
        position: absolute;
        height: 100%;
        z-index: -1;
        bottom: 0;
        right: 0;

    }
    &__button {
        padding: 0.75rem 2rem;
        width: 8rem;
        margin-top: 1rem;
    }
}